{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .carousel-item {
            height: 400px; /* Fixed height */
            width: 400px; /* Fixed width */
            margin: 0 auto; /* Center horizontally */
        }
    
        .carousel-item img {
            height: 400px; /* Fixed height */
            width: 400px; /* Fixed width */
            display: block;
            margin: auto; /* Center horizontally */
        }
        
        .greeting-message {
            width: 80%; /* 80% of viewport width */
            margin: 0 auto; /* Center horizontally */
            text-align: center; /* Center text */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/testimonials">Testimonials</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/recent_projects">Recent Projects</a>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item"  href="/contents/John/Doe/10">View suitable for kids (John Doe, 10 years old)</a></li>
                  <li><a class="dropdown-item" href="/contents/James/Smith/15">View suitable for teens (James Smith, 15 years old)</a></li>
                  <li><a class="dropdown-item" href="/contents/Mary/Johnson/35">View suitable for matured (Mary Johnson, 35 years old)</a></li>
                  <li><a class="dropdown-item" href="/contents/Thomas/Brown/65">View suitable for senior citizens (Thomas Brown, 65 years old)</a></li>
                  <li><a class="dropdown-item" href="/contents/Alien/Unknown/150">View suitable for Alien (Alien Unknown, 150 years old)</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="greeting-message">
        <h1 style="color: red;">{{ greeting }}</h1>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 400px; margin: 0 auto;">
        <ol class="carousel-indicators">
            {% for image in images %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{% static 'images/'|add:image %}" class="d-block w-100" alt="Image">
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
