<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1><b style="color:red">Home</b></h1>
    <p><a href="/about">About us</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="/testimonials">Testimonials</a></p>
    <p><a href="/recent_projects">Recent Projects</a></p>
    <p><a href="/contents/John/Doe/10" style="color:blue">View suitable for kids (John Doe, 10 years old)</a></p>
    <p><a href="/contents/James/Smith/15" style="color:blue">View suitable for teens (James Smith, 15 years old)</a></p>
    <p><a href="/contents/Mary/Johnson/35" style="color:blue">View suitable for matured (Mary Johnson, 35 years old)</a>
    </p>
    <p><a href="/contents/Thomas/Brown/65" style="color:blue">View suitable for senior citizens (Thomas Brown, 65 years
            old)</a></p>
    <p><a href="/contents/Alien/Unknown/150" style="color:blue">View suitable for Alien (Alien Unknown, 150 years
            old)</a></p>
</body>

</html>